{% load i18n board_tags%}
{% prefetch post_interactions for mentions %}
{% for m in mentions %}
{% if forloop.first %}
<ul data-latest-mention="{{m.pk}}">
 {% endif %}
 <li>
	 {% with m.title|clean_mention:request.user as mtitle%}
	 <a href="{{m.get_absolute_url}}" class="post-link mention-link{%if m.title|is_direct:request.user %} direct-message{%endif%}{% if m.read_last < m.pk %} fresh-content{%endif%}" title="{{mtitle}}">
	 	{%if m.title|is_direct:request.user %}{{m.username}}: {% endif%}{{mtitle}}
	</a>
	 {% endwith %}
	 </li>
{% endfor %}
 </ul>