{% load board_tags i18n %}
<div id="post-form" class="post-form-container">
<form action="{% url board_post_create %}" method="POST" class="append-to-target quick-submit markitup" data-attach-element="new-content">{% csrf_token %}
	{% if hide_auth %}
	 <a title="{% trans "click to post with a different username" %}" href="{{request.path|updateurl:"auth=show"}}" class="auth-hidden">{% trans "logged in as " %}<b>{{request.user.username}}</b></a>
	{% endif %}
	<ul style="margin: 0 auto;" {% if hide_auth %}class="auth-hidden"{% endif %}>
		<li>{{ form.username.label_tag }}{{ form.username }}</li>
		<li>{{ form.password.label_tag }}{{ form.password }}</li>
	</ul>
	
	<ul style="margin: 0 auto;">
		<li>{{ form.title.label_tag }}{{ form.title }}</li>
		<li>{{ form.body_markup.label_tag }}{{ form.body_markup }}</li>
	</ul>
	<ul class="advanced-options">
		<li>{{ form.wiki.label_tag }}{{ form.wiki }}</li>
	</ul>
	{{ form.object_id }}
	{{ form.content_type }}
	
	<input type="hidden" name="next_page" value="{{ request.path }}" />
	<input type="hidden" name="next_item" value="{{ next_item }}" />
	<input type="hidden" name="direction" value="{{ next_item_direction }}" />
{% if tag %}
	<input type="hidden" name="list_tag" value="{{ tag }}" />
{% endif %}
	<input type="submit" value="Submit" />
	<div id="preview-anchor-right"></div>
	<div id="preview-anchor-bottom"></div>
</form>
</div>
<div class="clear"></div>
