{% load board_tags %}
<li id="post-id-{{post.pk}}-container" {%if request.is_ajax%}data-next-item="{{post.pk|add:'1'}}"{%endif%}>
	<article id="post-id-{{post.pk}}" class="post reply{% if post.rating < personal_settings.min_rating_for_display %} hidden-by-rating{% endif %} {% class_tags post %} rating{{post.rating|font_by_rating}} {% if not post.postdata.body %}no-text{%endif%}">
		<header><h1 class="post-title">
			<a class="post-link" href="{% url board_post_view post.pk %}">{{ post.title_as_reply }}</a>
		</h1></header>
		{% with 1 as is_reply %}
			{% include "board/post_info.html" %}
		{% endwith %}
	{% if post.postdata.body %}
		<div class="post-text">
			{{ post.postdata.body|safe }}
		</div>
		{% if post.postdata.signature %}
		<div class="signature">
			{{ post.postdata.signature|safe }}
			<div class="clear"></div>
		</div>
		{% endif %}
	{% endif %}
	</article>
</li>