{% extends base_template %}
{% load board_tags faves %}
{% block title %}
	{% if basetag %}{{ basetag.title }}{% endif %} {{block.super }}
{% endblock %} 

{% block extracss %}
{{block.super}}
{% prefetch profiles for object_list as user_profiles %}
	{% for p in user_profiles %}
		{% if p.custom_nick_display %}
		a.user-id-{{p.user_id}} {
			{{p.custom_nick_display|safe|escapecss }}
		}
		{% endif %}
	{% endfor %}
{% endblock %}


{% block content %}
	{% prefetch tags for object_list %}
	{% prefetch post_interactions for object_list %}
	{% inject_faves_to object_list by request.user of type star as is_starred %}
	{% if more_down %}
	<a href="?start=-{{more_down}}" class="endless-paginator" rel="next" data-attach-method="prepend" data-items-left="{{items_left}}">{{items_left}} fresher</a>
	{% endif %}
	{%if object_list|length %}
	{% with object_list|first as f %}
	<ol id="threads" class="new-content threads-list" data-source-href="?start=-{{f.reverse_timestamp|add:'-1'}}" data-next-item="{{f.reverse_timestamp|add:'-1'}}">
	{% endwith %}
	{% else %}
	<ol id="threads" class="new-content threads-list" data-source-href="?start=-0">
	{%endif%}		
		{% for post in object_list  %}
				{% include "board/thread_body.html" %}
		{% endfor %} 
	</ol> 
	{% if more_up %}
	<a href="?start={{more_up}}" class="endless-paginator" data-attach-method="append" rel="prev">older</a>
	{% endif %}		

{% if not request.is_ajax %}
	{% post_form %}
{% endif %}
{% endblock %}