{% load board_tags faves %}

{% block content %}
	{% prefetch tags for post_list %}
	{% prefetch post_interactions for post_list %}
	{% inject_faves_to post_list by request.user of type star as is_starred %}
	{% if has_prev %}
	<a href="{% url board_profile_list_by_user profile_user %}?start=-{{has_prev}}"
		class="endless-paginator no-form-effect" 
		rel="next" data-attach-method="prepend" 
		data-items-left="{{items_left}}">{{items_left}} fresher</a>
	{% endif %}
	<ol id="threads" class="new-content threads-list"
	data-content-update-interval="121" 
	data-source-href="{% url board_profile_list_by_user profile_user %}?start=-{{next_item}}"
	data-next-item="{{next_item}}">
		{% for post in post_list  %}
				{% include "board/thread_body.html" %}
		{% endfor %} 
	</ol> 
	{% if has_next %}
	<a href="{% url board_profile_list_by_user profile_user %}?start={{has_next}}" 
	class="endless-paginator no-form-effect" data-attach-method="append" rel="prev">older</a>
	{% endif %}		
{% endblock %}